
.ambar {
    background-color: yellow;
    color: black
    ;
}
.gray {
    background-color: gray;
    color: white;
}
.purple {
    background-color: purple;
    color: white;
}
.orange {
    background-color: orange;
    color: white;
}
.white {
    background-color: white;
    color: black;
}
